.chatScreen p  {
    color: grey;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.chatScreen__message {
    display: flex;
    align-items: center;
    padding: 20px;

}

.chatScreen__message > p {
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

.chatScreen__textUser {
    margin-left: auto !important;
    background-color: #29b3cd !important;
    padding: 15px;
    border-radius: 20px;
    color: white !important;
}

.chatScreen__input {

}

.chatScreen__input form {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}

.chatScreen__inputField {
    flex: 1;
    padding: 10px;
    border: none;
    height: 100%;

}

.chatScreen__inputButton {
    border: none;
    margin-right: 20px;
    background-color: white;
    font-weight: bolder;
    color: #fe3d71;
    padding: 10px 15px;
    height: 100%;
}

